h1{
color: blue ;
}


a{
color: green ;
text-decoration: underline;
}


a:hover {
color: yellow ;
}


p{
text-align: justify;
margin: auto;	
}


#container_header{
border: solid orange 5px;
padding: 0 0 0 300px;
}


nav{
  display: block;
  float: left;
  border: 1px black solid;
  margin: 10px 10px 0 10px;
  width: 10%;
} 


#container_general{
display: flex;
flex-direction: column;
justify-content: space-around;
heigth: 350px;
border: solid orange 5px;
margin: 10px 10px 0 10px;
}


.element{
display: block;
border: solid blue 1px;
margin: 10px 5px 10px 5px;
}


.element_header{
display: block;
border: solid blue 1px;
margin: 10px 5px 10px 5px;
}
