

.box {
  border : 1px dashed black;
  width: 25%;
  height: 50%;
  position: absolute;
  top: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.box:before {
  position: absolute;
  left: 16%;
  content: "";
  height: 90%;
  width: 23px;
  border : purple 2px solid;
  border-radius: 10px 0 0 10px;
}


p {
  margin: auto;
  text-align: center;
  border-radius: 0 50px 50px 0;
  border: orange solid 3px;
  width: 100px;
  position: relative;
  padding: 5px 0 0 5px;
}

p:after {
  position: absolute;
  display: block;
  top: 0;
  
  box-shadow: 0 0 0 2px purple;
  left: -22px;        
  background: orange;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  top: 5px;
}


