.box{
  border: grey solid 2px;
  position: absolute;
  top: 20px;
  width: 75%;
  height: 75%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  

.sub_box {
  height: 30px;
  width: 100px;
  margin: 30px auto;
}



.sub_box:nth-child(odd) {
  border: purple 1px dashed;
  transform:rotate(45deg);
}

.sub_box:nth-child(even) {
  border: purple 1px dashed;
  transform:rotate(-45deg);
}




.sub_box:nth-child(odd):after {
  position: absolute;
  display: block;
  box-shadow: 0 0 0 4px orange;
  background: lightgrey;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  top: 8px;
  left: -25px;
}


.sub_box:nth-child(even):after {
  position: absolute;
  display: block;
  box-shadow: 0 0 0 4px orange;
  background: lightgrey;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  top: 8px;
  left: 108px;
}


p{
  text-align: center;
  margin: auto;
}


.sub_box:hover:nth-child(even):after {
  position: absolute;
  display: block;
  box-shadow: 0 0 0 6px orange;
  background: white;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  top: 8px;
  left: 108px;
}


.sub_box:hover:nth-child(odd):after {
  position: absolute;
  display: block;
  box-shadow: 0 0 0 6px orange;
  background: white;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  top: 8px;
  left: -25px;
  
}


.sub_box:hover{
  background-color: lightblue;
  border: purple 2px solid;
  font-weight: bold;
}
