/*
https://codepen.io/xram/pen/thLsk
https://jsfiddle.net/lmgonzalves/ew90tyoq/2/

https://stackoverflow.com/questions/19058421/how-to-change-content-on-hover
https://developer.mozilla.org/en-US/docs/Web/CSS/::after#Tooltips
*/

.box{
  /*background-color: lightgrey;
  width: 75%;
  height: 400px;*/
  position: absolute;
  top: 20px;
  left: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*font-size: 1.6em abbr*/
  color: lightgrey;
}


.sub_box{
  margin: -3px auto;
  padding-top: 35px;
  border: 6px solid purple;
  border-radius: 50%;
  height: 110px;
  width: 110px;
}



.sub_box:nth-child(odd){
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
  
}

.sub_box:nth-child(odd) p {
  transform: rotate(-45deg);
}


.sub_box:nth-child(even) {
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(225deg);
}


.sub_box:nth-child(even) p {
  transform: rotate(-225deg);
}
  




/* 1 Filtration */
  .sub_box:nth-child(1) {
    border: 6px solid purple;
    border-radius: 50%;
    background-color: lightblue ;
    color: black;
    font-weight: bold;
  }
/* 2 Normalization */
  .sub_box:nth-child(2) {
    border: 6px solid purple;
    border-radius: 50%;
    background-color: lightblue ;
    font-weight: bold;
  }
/* 3 Imputation */
  .sub_box:nth-child(3) {
    border: 6px solid purple;
    border-radius: 50%;
    background-color: lightblue ;
    font-weight: bold;
  }
/* 4 Agregation */
  .sub_box:nth-child(4) {
    border: 6px solid purple;
    border-radius: 50%;
    background-color: lightblue ;
    font-weight: bold;
  }
