

.box { /*cadre le plus externe*/
  border : 1px dashed black;
  width: 25%;
  height: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  */
}


.sub_box:before { /*cadre des ronds a gauche*/
  position: absolute;
  top: -7px;
  left: -25px;
  content: "";
  height: 50px;
  width: 23px;
  border : purple 2px solid;
  border-top: 0;
  border-bottom: 0;
}


.sub_box:first-child:before { 
  border : purple 2px solid;
  border-radius: 10px 0 0 0 ;
  border-bottom: 0;
}

.sub_box:last-child:before { 
  height: 50px;
  border : purple 2px solid;
  border-radius: 0 0 0 10px;
  border-top: 0;
}


.sub_box { /*cadre du texte de droite*/
  margin: 10px auto;
  border-radius: 0 50px 50px 0;
  border: orange solid 3px;
  width: 40%;
  height: 40px;
  position: relative;
}


p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.sub_box:after { /*ronds*/
  position: absolute;
  display: block;
  top: 0;
  
  box-shadow: 0 0 0 2px purple;
  left: -22px;        
  background: orange;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  top: 5px;
}


