/*
https://codepen.io/xram/pen/thLsk
https://jsfiddle.net/lmgonzalves/ew90tyoq/2/
*/

.box{
  background-color: lightgrey;
  width: 75%;
  height: 400px;
  text-align: center;
  position: absolute;
  top: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.sub_box{
  margin: -3px auto;
  padding-top: 35px;
  border: 6px solid purple;
  border-radius: 50%;
  height: 100px;
  width: 100px;

}


.sub_box:nth-child(odd){
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
  
}

.sub_box:nth-child(odd) p {
  transform: rotate(-45deg);
}


.sub_box:nth-child(even) {
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(225deg);
}

.sub_box:nth-child(even) p {
  transform: rotate(-225deg);
}
  


.sub_box:nth-child(3) {
  border: 6px solid purple;
  border-radius: 50%;
  background-color: lightblue ;
}



