.box{
  border: grey solid 2px;
  position: absolute;
  top: 20px;
  width: 75%;
  height: 75%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  

.sub_box {
  text-align: center;
  background-color:lightblue;
  width: 100px;
  margin: 35px auto;
}



.sub_box:nth-child(odd) {
  border: blue 1px dashed;
  transform:rotate(45deg);
}

.sub_box:nth-child(even) {
  border: purple 1px dashed;
  transform:rotate(-45deg);
}




.sub_box:nth-child(odd):after {
  position: absolute;
  display: block;
  box-shadow: 0 0 0 4px orange;
  left: -25px;
  background: white;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  bottom: 3px;
}


.sub_box:nth-child(even):after {
  position: absolute;
  display: block;
  box-shadow: 0 0 0 4px orange;
  left: 105px;
  background: white;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  bottom: 3px;
}
